<h1>New Place image</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_place_place_image_path(@conn, :create, @place_id)) %>

<span><%= link "Back", to: Routes.admin_place_place_image_path(@conn, :index, @place_id) %></span>
